<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

        * {
            font-family: 'IBM Plex Sans Thai', sans-serif;
        }

        .btnsubmit {
            background-color: #87CEFA;
            color: white;
        }

        .header {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            margin: 20px;
        }

        .homereset_content {
            height: 100%;
            width: calc(100% - 78px);
            transition: all 0.5s ease;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2%;
        }

        .homereset_content .logoreset {
            width: 45vh;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        .header {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            margin: 20px;
        }
.text{
    text-align: center;
}
.textemail{
    font-weight: 600;
}
        .formcontainerpf {
            /* box-sizing: border-box; */
            border: 0.1px solid #ddd;
            box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
            width: 60%;
            height: 100%;
            border-radius: 1rem;
            padding: 2rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            /* display: flex;
    flex-wrap: wrap; */
        }
    </style>
 
</head>

<body>
    <div class="homereset_content">
        <!-- <div class="logoreset">
            <img src=".logo.png" alt="logo">
        </div> -->
        <h1 class="header">
            รหัสผ่านของคุณเปลี่ยนแล้ว
        </h1>
        <div class="formcontainerpf card mb-3">
        <p class="text">รหัสผ่านของคุณสำหรับอีเมล <span class="textemail"><%= email %> </span>ได้รับการเปลี่ยนสำเร็จแล้ว</p>
        <p class="text">คุณสามารถเข้าสู่ระบบด้วยรหัสผ่านใหม่ของคุณ</p>
    </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>



</html>